html {
  padding: 50px;
}

body {
  background-color: #85DCBA;
}

.container {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

#word-form {
  max-width: 500px;
}

#chosen-words-number {
  visibility: hidden;
}

.show-word:hover, .edit-word:hover, .delete-word:hover {
  text-decoration: none;
}

#add-word {
  margin-bottom: 15px;
  float: left;
}

.show-word {
  cursor: pointer;
  color: blue;
}

#chosen-words-number {
  display: inline-block;
  margin-bottom: 15px;
  float: right;
}